<!DOCTYPE html>
<html ng-app="musicstore">
	<head>
		<link rel="stylesheet" href="style/main.css">
		<meta charset="utf-8">
		<title>Musicstore</title>
	</head>
	
	<body ng-controller="MainController">

		<header>
			<div class="centerd top-nav">
				 <nav>
					<ul class="inline-list">
						<li><a href="#">Home</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">My Wishlist</a></li>
						<li><a href="#">Checkout</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</nav>	
			</div>
		</header>
		
		<section id="top-bar">
			<div class="centerd">
				<a href="index.html"><h1>MUSIC</h1></a>
				<input type="text" name="search" placeholder="Search">
				<div id="cart_icon"><span>0</span></div>
				<div id="welcome"><span>Welcome to our<br> online store!</span></div>
				
			</div>

		</section>
		
		<div id="wrapper">
		
			<div id="breadcrumb" class="centerd">
				<ul class="inline-list">
					<li><a href="index.html">Home</a></li>
					<li class="located">Category</li>
				</ul>
			</div>
			
			
			
			<main class="centerd">
			
				<aside>
					<nav>
						<ul>
							<a href="#/genre/{{genre.genre_id}}" ng-repeat="genre in genres" ng-click="pickGenre($index)"><li ng-class="{'selected' : selected_genre.genre_id == $index}">{{genre.genre_name}}</li></a>
						</ul>
					</nav>
					
					<div id="cart">

					</div>
					
				</aside>
				
				<section id="content" class="full-caption">
				
					<div class="head-box">
						<h3>{{selected_genre.genre_name}} <!-- - {{something.length}} items --></h3>
					</div>
					
					<div id="new-products">
						<figure ng-repeat="album in albums | limitTo: 12 : 11">
						<a href="#/album/{{album.album_id}}">
							<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
							<figcaption>
								{{album.album_name}}
								<br>
								{{album.album_artist}}
								<br>
								{{album.album_price | currency}}
							</figcaption>
						</figure>	
							</a>
					</div>
					
				</section>	
				
				<div class="C-B"></div>
			</main>
			
			
		
		</div><!-- end of wrapper -->
		
		
		
		
		
		
		<script src="app/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
		<script src="app/app.js"></script>
		
		<script src="app/Shared/Modules.js"></script>
		
		<script src="app/album/AlbumsFactory.js"></script>
		<script src="app/album/AlbumsDirective.js"></script>
		
		<script src="app/genre/GenresFactory.js"></script>
		<script src="app/genre/GenresDirective.js"></script>
		
	</body>
</html>