<!DOCTYPE html>
<html ng-app="musicstore">
	<head>
		<link rel="shortcut icon" href="Images/icon.png"/>
		<link rel="stylesheet" href="style/main.css">
		<meta charset="utf-8">
		<title>Musicstore</title>
	</head>
	
	<body ng-controller="MainController">
		<header>
			<div class="centerd top-nav">
				 <nav>
					<ul ng-controller="LoginController">
						<li><a href="#/">Home</a></li>
						<li><a href="#/">My Account</a></li>
						<li><a href="#/" title="there's no wishlist page in the pdf but the object still works">My Wishlist</a></li>
						<li><a href="#/checkout/Step1/">Checkout</a></li>
						<li ng-hide="checkIfLoggedIn"><a href="#/login" ng-bind="logMessage"></a></li>
						<li ng-show="checkIfLoggedIn"><span ng-click="logOut()" ng-bind="logMessage"></span></li>
					</ul>
				</nav>	
			</div>
		</header>
		
		<section id="top-bar">
			<div ng-controller="SearchController"  class="centerd">
				<a href="#/"><h1>MUSIC</h1></a>
				<input ng-model="searchbox" type="text" name="text" placeholder="Search" ng-change="checkFor3Chars()">
					<div id="cart_icon"><span ng-controller="CartController" ng-bind="cart.length"></span></div>
				<div id="welcome"><span>Welcome to our<br> online store!</span></div>
				
				<div id="search-results" ng-if="results && searchbox">
				
					<div class="single-search-result" ng-repeat="result in results">
						<a href="#/product/{{result.album_id}}" ng-click="emptySearch()">
							<img ng-src="{{result.image_path}}">
							<div>
								<span>{{result.album_name}}</span><br>
								<span>{{result.album_artist}}</span><br>
								<span>Released {{result.album_release_year}}</span>
							</div>
						</a>
					</div>

					
				</div>
						
				
			</div>

		</section>
		
		<div id="wrapper" ng-view>
			
		</div>
		<script src="app/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-animate.js"></script>
		<script src="app/app.js"></script>
		
		<script src="app/Shared/Modules.js"></script>
		<script src="app/Shared/Routes.js"></script>
		<script src="app/Shared/MainController.js"></script>
		
		<script src="app/album/AlbumsFactory.js"></script>
		<script src="app/album/AlbumPageController.js"></script>
		
		<script src="app/search/SearchFactory.js"></script>
		<script src="app/search/SearchController.js"></script>

		<script src="app/Login/LoginController.js"></script>
		<script src="app/Login/LoginFactory.js"></script>
		
		<script src="app/Register/RegisterController.js"></script>
		<script src="app/Register/RegisterFactory.js"></script>
		<script src="app/Register/RegisterDirective.js"></script>
		
		<script src="app/Cart/CartController.js"></script>
		<script src="app/Cart/CartFactory.js"></script>		
		<script src="app/Cart/CartDirective.js"></script>		
		
		<script src="app/Checkout/CheckoutController.js"></script>
		<script src="app/Checkout/CheckoutFactory.js"></script>		
		
		<script src="app/Favorites/FavoritesController.js"></script>
		<script src="app/Favorites/FavoritesFactory.js"></script>		
		
		<script src="app/genre/GenresFactory.js"></script>
		<script src="app/genre/GenreListController.js"></script>
		<script src="app/genre/GenrePageController.js"></script>
		<script src="app/genre/GenresDirective.js"></script>
		
	</body>
</html>