
			<div id="breadcrumb" class="centerd">
				<ul class="inline-list">
					<li><a href="index.html">Home</a></li>
					<li class="located">Category</li>
				</ul>
			</div>
			
			
			
			<main class="centerd">
			
				<aside>
					<nav>
						<ul ng-controller="genreList">
							
							<li ng-repeat="genre in genres" ng-class="{'selected' : checkIfCurrentGenre(genre.genre_name)}">
							<a href="#/category/{{genre.genre_name}}">{{genre.genre_name}}
							</a>
							</li>
							
							
							
						</ul>
					</nav>
					
					<cartlatest></cartlatest>
					
				</aside>
				
				<section id="content"> <!-- this will get the  ng-view -->
					<div class="full-caption">
					
						<div class="head-box">
							<h3 ng-bind="genresalbums.length + ' items'"> <!-- - {{something.length}} items --></h3>
						</div>
						
						<div id="new-products">
							<figure ng-repeat="album in genresalbums">
							<a href="#/product/{{album.album_id}}">
								<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
								</a>
								<figcaption>
									<span id="album-fullname">{{album.album_artist}} - {{album.album_name}}</span>
									<br>
									<span id="album-description">{{album.album_description | limitTo:55}}...</span>
									<br>
									<span class="price">{{album.album_price | currency}}</span>
									<img class="icon" ng-controller="CartController" src="Images\shopping69.png" ng-hide="checkIfExistsInCart(album.album_id, checkQuantity(album.album_id))" title="Add one album to cart" ng-click="addToCart(album.album_id, 1)">
									<img class="icon" ng-controller="CartController" src="Images\shopping70.png" ng-show="checkIfExistsInCart(album.album_id, 1)" title="Remove from cart" ng-click="removeFromCart(album.album_id)">
									<img class="icon" src="Images\information35.png" title="{{album.album_description}}">
									<br>
									<span id="atw" ng-controller="FavoritesController" ng-hide="checkIfExistsInFavs(album.album_id)" ng-click="addToFavorites(album.album_id)">Add to wishlist</span>
									<span id="atw" ng-controller="FavoritesController" ng-show="checkIfExistsInFavs(album.album_id)" ng-click="removeFromFavs(album.album_id)">Remove from wishlist</span>
								</figcaption>
							</figure>	
								
						</div>
					</div>	
				</section>	
				
				<div class="C-B"></div>
			</main>
			
			
		