		<div id="wrapper">
		

			
			
			
			<main class="centerd">
			
				<div id="Checkout-page">
				
					<aside>
						<div id="Checkout-progress-head" class="head-box">
							<h3>Your Checkout Progress</h3>
						</div>
						
						<div>
							<div class="red-head">
								<span>Billing Information &nbsp| &nbsp  <a href="#/checkout/Step1">Change</a></span>
							 </div>
							 
							 <section>
							 	<p class="full-description">
							 		<span>{{checkoutSession.user_firstname}} {{checkoutSession.user_lastname}}</span><br>
							 		<span>{{checkout.address}}</span><br>
							 		<span>{{checkout.city}}<span ng-show="checkout.zipcode.length">,</span> {{checkout.zipcode}}</span><br>
							 		<span ng-show="checkout.phone.length">T:</span><span>{{checkout.phone}}</span><br>
							 	</p>
							 
							 </section>
							 
							 <div class="red-head">
								<span>Payment Method &nbsp| &nbsp  <a href="#/checkout/Step2">Change</a></span>
							 </div>
							 
							 <section>
							 	<p class="full-description">
							 		<span class="bold" ng-show="checkout.pay_method == 'credit_card'">Credit Card (saved) <br></span>
							 		
							 		<span class="bold" ng-show="checkout.pay_method == 'money_order'">Check / Money order <br></span>
							 		
							 		<span ng-show="checkout.pay_method == 'credit_card'" class="full-description">
								 		<span class="bold" ng-show="checkout.CC_type.length">Credit Card Type: <br></span>
								 		<span>{{checkout.CC_type}}</span><br ng-show="checkout.CC_type.length">
								 		
								 		<span class="bold" ng-show="checkout.CC_number.length">Credit Card Number: <br></span>
								 		<span ng-show="checkout.CC_number.length">xxxx-{{checkout.CC_number | limitTo : 4 : -4 }}<br></span>
								 		
								 		<span class="bold" ng-show="checkout.card_name.length">Name on the Card:</span><br>
								 		<span>{{checkout.card_name }}</span>
								 	</span>
							 	</p>
							 </section>
						</div>
						
						
					</aside>
					
					<div id="Checkout-content" ng-controller="CartController">
					
						<div id="Checkout-head" class="head-box">
							<h3>Checkout</h3>
						</div>
						
						<div class="red-head" ng-class="{'valid-head' : step1.$valid}">
							<div class="circle">1</div>
							<span>Billing Informarion</span>
						</div>
						
						<section ng-show="checkCurrentStep( 'Step1' )">
							<form name="step1" novalidate>
								<p>
									<label class="line" for="order_shipping_address">Address<span class="required">*</span> </label>
									<br>
									<input type="text" name="order_shipping_address" id="order_shipping_address" ng-model="checkout.address" ng-pattern="/^([[a-zA-Z\s\d.]*?[\s][\d]{1,})$/" required>
									<br>
									
									<span class="required" ng-show="step1.order_shipping_address.$dirty && step1.order_shipping_address.$invalid">
	 									 <span ng-show="step1.order_shipping_address.$error.required">Address is required.</span>
	 									 <span ng-show="step1.order_shipping_address.$error.pattern">Invalid address.</span>
									</span>
								</p>
									
								<div>	
									<p class="inline">
										<label class="line" for="order_shipping_city">City<span class="required">*</span> </label>
										<br>
										<input type="text" name="order_shipping_city" id="order_shipping_city" ng-model="checkout.city" ng-pattern="/^([a-zA-Z\s]{3,})$/" required>
										<br>
										
										<span class="required" ng-show="step1.order_shipping_city.$dirty && step1.order_shipping_city.$invalid">
	 										<span ng-show="step1.order_shipping_city.$error.required">City is required.</span>
	 										<span ng-show="step1.order_shipping_city.$error.pattern">Invalid City.</span>
										</span>
									</p>
									
									<p class="inline">
										<label class="line" for="order_shipping_zipcode">Zip/Postal Code<span class="required">*</span> </label>
										<br>
										<input type="text" name="order_shipping_zipcode" id="order_shipping_zipcode" ng-model="checkout.zipcode" ng-pattern="/^([0-9]{4,9})$/" required>
										<br>
										
										<span class="required" ng-show="step1.order_shipping_zipcode.$dirty && step1.order_shipping_zipcode.$invalid">
	 										<span ng-show="step1.order_shipping_zipcode.$error.required">Zip Code is required.</span>
	 										<span ng-show="step1.order_shipping_zipcode.$error.pattern">Invalid Zip Code.</span>
										</span>
									</p>
									
									<div class="C-B"></div>
									
								</div>
								
								<p>
									<label class="line" for="order_shipping_phone">Telphone<span class="required">*</span> </label>
									<br>
									<input type="text" name="order_shipping_phone" id="order_shipping_phone" ng-model="checkout.phone" ng-pattern="/^([0-9]{2,4}[-]{1}[0-9]{7,8})$/" required>
									<br>
									
									<span class="required" ng-show="step1.order_shipping_phone.$dirty && step1.order_shipping_phone.$invalid">
 										<span ng-show="step1.order_shipping_phone.$error.required">Telphone is required.</span>
 										<span ng-show="step1.order_shipping_phone.$error.pattern">Invalid Telphone.</span>
									</span>
								</p>
								
								
								<p>
									<span class="required">* Required Fields</span>
									
									<button ng-disabled="step1.$invalid" ng-click="saveCheckoutInfo( checkout , '1' ); goTo('#/checkout/Step2')">Continue</button>
								</p>
								
							</form>
								
							<div class="C-B"></div>
							
						</section>
						
						<div class="red-head" ng-class="{'valid-head' : step2.$valid}">
								<div class="circle">2</div>
								<span>Payment Information</span>
						</div>
						
						<section ng-show="checkCurrentStep( 'Step2' )">
						
							<form name="step2">
								<p>
									<input type="radio" name="order_payment_method" value="money_order" id="check" ng-model="checkout.pay_method" ng-required="!checkout.pay_method">
									<label  for="check">Check / Money order</label>
	
								</p>
								
								<p>
									<input type="radio" name="order_payment_method" value="credit_card" id="CC" ng-model="checkout.pay_method" ng-required="!checkout.pay_method">
									<label for="CC">Credit Card (saved)</label>
	
								</p>
								
								<div id="CC-inputs" ng-if="checkout.pay_method == 'credit_card' " class="animate-if">
								
									<p>
										<label class="line" for="card_name">Name on Card<span class="required">*</span> </label>
										<br>
										<input type="text" name="card_name" id="card_name" ng-pattern="/^([a-zA-Z]{2,}[\s][a-zA-Z]{2,})$/" ng-model="checkout.card_name" required>
										<br>
										<span ng-show="step2.card_name.$invalid && step2.card_name.$dirty" class="required">
											<span ng-show="step2.card_name.$error.required">This is a required field</span>
											<span ng-show="step2.card_name.$error.pattern">Invalid Name</span>
										</span>
									</p>
									
									<p>
										<label class="line" for="CC_type">Credit Card Type<span class="required">*</span> </label>
										<br>
										<select name="CC_type" id="CC_type" ng-model="checkout.CC_type"  required>
											<option value="" ng-selected="true">Select a card</option>
											<option value="Visa">Visa</option>
											<option value="MasterCard">Master Card</option>
											<option value="American_express">American Express</option>
											<option vlaue="Diners">Diners </option>
										</select>
										<span ng-show="step2.CC_type.$invalid && step2.CC_type.$touched" class="required">
											<span ng-show="step2.CC_type.$error.required">This is a required field</span>
										</span>
										
									</p>
									
									<p>
										<label class="line" for="CC_number">Credit Card Number<span class="required">*</span> </label>
										<br>
										<input type="text" maxlength="16" name="CC_number" id="CC_number" ng-pattern="/^([\d]{16})$/" ng-model="checkout.CC_number" required>
										<br>
										
										<span ng-show="step2.CC_number.$invalid && step2.CC_number.$dirty" class="required">
											<span ng-show="step2.CC_number.$error.required">This is a required field</span>
											<span ng-show="step2.CC_number.$error.pattern">Invalid Number</span>
										</span>
									</p>
									
									<p>
										<label class="line" for="CC_expiration_month">Expiration date<span class="required">*</span> </label>
										<br>
										<select name="CC_expiration_month" id="CC_expiration_month" >
											<option value="01">01 - January</option>       
											<option value="02">02 - February</option>       
											<option value="03">03 - March</option>       
											<option value="04">04 - April</option>       
											<option value="05">05 - May</option>       
											<option value="06">06 - June</option>       
											<option value="07">07 - July</option>       
											<option value="08">08 - August</option>       
											<option value="09">09 - September</option>       
											<option value="10">10 - October</option>       
											<option value="11">11 - November</option>       
											<option value="12">12 - December</option> 
										</select>
										
										<select name="CC_expiretion_year" id="CC_expiretion_year" >
											<option value="15">2015</option>       
											<option value="16">2016</option>       
											<option value="17">2017</option>       
											<option value="18">2018</option>       
											<option value="19">2019</option>       
											<option value="20">2020</option>       
											<option value="21">2021</option>       
											<option value="22">2022</option>       
	
										</select>
										
									</p>
									
									<p>
										<label class="line" for="CC_verification_number">Card Verification Number<span class="required">*</span> </label>
										<br>
										<input type="text" maxlength="3" name="CC_verification_number" ng-pattern="/^([\d]{3})$/" id="CC_verification_number" ng-model="checkout.CC_verification_number" required> 
										<label  for="CC_verification_number">What is this?</label>
										<br>
										<span ng-show="step2.CC_verification_number.$invalid && step2.CC_verification_number.$dirty" class="required">
											<span ng-show="step2.CC_verification_number.$error.required">This is a required field</span>
											<span ng-show="step2.CC_verification_number.$error.pattern">Invalid Number</span>
										</span>
										
									</p>
									
									
								
								</div>
								
								<button ng-disabled="step2.$invalid" ng-click="saveCheckoutInfo( checkout , '2' ); goTo('#/checkout/Step3')">Continue</button>
								
							</form>
								
							<div class="C-B"></div>
						</section>
						
						<div class="red-head" ng-class="{'valid-head' : checkCurrentStep('Step3')}">
								<div class="circle">3</div>
								<span>Order Review</span>
						</div>
						
						<div ng-show="checkCurrentStep( 'Step3' )">
							<section class="table-container"  ng-init="getCartObject()">
								<div class="row">
									<div class="column"><label class="line">Product Name</label></div>
									<div class="column"><label class="line">Price</label></div>
									<div class="column"><label class="line">Qty</label></div>
									<div class="column"><label class="line">Subtotal</label></div>
								
								</div>
								
								<div class="row"  ng-repeat="albums in cart">
									<div class="column">{{albums[0].album_artist}} - {{albums[0].album_name}}</div>
									<div class="column">{{albums[0].album_price | currency}}</div>
									<div class="column">{{albums[0].quantity}}</div>
									<div class="column">{{albums[0].quantity * albums[0].album_price | currency}} </div>
								
								</div>
								
								<div class="row" id="total-line">
									<div class="column"></div>
									<div class="column"></div>
									<div class="column"><label class="line">Total</label></div>
									<div class="column"><label class="line">{{total | currency}}</label></div>
								
								</div>
							
							
							</section>
							
							<div>
								<span class="full-description">Forgot an Item? &nbsp</span>
								<a href="#/home">Edit Your Cart</a>
								
								<button ng-disabled="step1.$invalid || step2.$invalid"  ng-click="completeCheckout(total)">Place Order</button>
							</div>
						</div>
						
					</div>
					
					<div class="C-B"></div>
				</div>
			</main>
			

			
		
		</div>