<section id="top-bar-pics">
				<figure ng-repeat="album in albums | limitTo: 9">
				<a href="#/product/{{album.album_id}}">
					<img ng-src="{{album.image_path}}" alt="{{album.album_name}}">
					<figcaption>
					{{album.album_name}}
					<br>
					{{album.album_artist}}
					
					</figcaption>
					</a>
				</figure>
				
				<div class="C-B"></div>
			</section>
			
			<main class="centerd">
			
				<aside>
					<nav>
						<ul ng-controller="genreList">
							<a href="#/category/{{genre.genre_name}}" ng-repeat="genre in genres" ng-click="pickGenre($index)"><li ng-class="{'selected' : selected_genre == $index}">{{genre.genre_name}}</li></a>
						</ul>
					</nav>
					
					<div id="new-couple" class="full-caption">
					
						<figure ng-repeat="album in albums | limitTo: 2 : 9">
							<a href="#/product/{{album.album_id}}">
							<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
							<figcaption>
								{{album.album_name}}
								<br>
								{{album.album_artist}}
							</figcaption>
						</figure>
						</a>
						
					
					</div>
					
				</aside>
				
				<section id="content">
				
					<div class="head-box">
						<h3>New Products</h3>
					</div>
					
					<div id="new-products">
						<figure ng-repeat="album in albums | limitTo: 12 : 11">
						<a href="#/product/{{album.album_id}}">
							<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
							<figcaption>
								{{album.album_name}}
								<br>
								{{album.album_artist}}
								<br>
								{{album.album_price | currency}}
							</figcaption>
						</figure>	
							</a>
					</div>
					
				</section>	
				
				<div class="C-B"></div>
			</main>