
			<div id="breadcrumb" class="centerd">
				<ul class="inline-list">
					<li><a href="index.html">Home</a></li>
					<li><a href="#/category/{{albums.genre_name}}">{{albums.genre_name}}</a></li>
					<li class="located">{{albums.album_name}} ({{albums.album_release_year}})</li>
				</ul>
			</div>
			
			
			
			<main class="centerd">
			
				<aside>
					<nav>
						<ul ng-controller="genreList">
							<li ng-repeat="genre in genres" ng-class="{'selected' : checkIfCurrentGenre(genre.genre_name)}">
							<a href="#/category/{{genre.genre_name}}">{{genre.genre_name}}
							</a>
							</li>
						</ul>
					</nav>
					
					<cartlatest></cartlatest>
					
				</aside>
				
				<section id="content">
					<div class="product-page">
						<div id="images">
							<img class="full-size-image" ng-src="{{image.image_path}}">
							<div id="album-images">
								<img ng-repeat="image in images" ng-src="{{image.image_path}}" ng-click="changeImage($index)" style="cursor: pointer">
							
							</div>
							<div class="C-B"></div>
						</div>
						
						<article>
							<div id="product-head">
								<h2>{{albums.album_artist | uppercase}} - {{albums.album_name | uppercase}} ({{albums.album_release_year}})</h2>
								<p>Availability: <span class="In-stock"> In stock</span> </p>
							</div>
							<span class="stock">Only 1000 left</span>
							<span class="price" ng-bind="albums.album_price | currency"></span>
							<p class="full-description" ng-bind="albums.album_long_description">
							</p>
							
							<div class="inner-box">
								<span class="price" ng-bind="albums.album_price | currency"></span>
								<div id="qty-box" ng-controller="CartController">
							
									<div id="input-wrapper">Qty: <input type="number" min="0" maxlength="2" ng-init="quantity = checkQuantity()" ng-model="quantity"></div>
									<div id="qty-mini-box">
										<div class="qty"  ng-click="quantity = (quantity + 1)"">+</div>
										<div class="qty" ng-click="lowerQuantity()">-</div>
										<div class="C-B"></div>
									</div>
									<button ng-click="addToCart(albums.album_id, quantity)" ng-show="quantity > 0">Add to cart</button>
									<button ng-click="removeFromCart(albums.album_id)" ng-show="checkIfExistsInCart(albums.album_id, quantity)">Remove from cart</button>
									
		
							
								</div>
								<br>
								
								<span ng-controller="FavoritesController" class="w-line" ng-hide="checkIfExistsInFavs(albums.album_id)" ng-click="addToFavorites(albums.album_id)"> <i id="heart"></i> Add To Wishlist</span>
								<span ng-controller="FavoritesController" class="w-line" ng-show="checkIfExistsInFavs(albums.album_id)" ng-click="removeFromFavs(albums.album_id)"> <i id="heart" class="full-heart"></i> Remove from Wishlist</span>
							</div>
						
						</article>
						
						
						<div class="C-B"></div>
					</div>
					
					<div class="head-box">
							<h3>Details</h3>
					</div>
					<p class="full-description" ng-bind="albums.album_long_description">
									</p>
				</section>	
				
				<div class="C-B"></div>
			</main>
			
			
		