<section id="top-bar-pics">
			<figure ng-repeat="album in albums | limitTo: 9">
				<img ng-src="{{album.image_path}}" alt="{{album.album_name}}">
				<figcaption>
				{{album.album_name}}
				<br>
				{{album.album_artist}}
				
				</figcaption>
			</figure>
			
			<div class="C-B"></div>
		</section>
		
		<main class="centerd">
		
			<aside>
				<genres>
				</genres>
				
				<div id="new-couple">
				
					<figure ng-repeat="album in albums | limitTo: 2 : 9">
						<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
						<figcaption>
							{{album.album_name}}
							<br>
							{{album.album_artist}}
						</figcaption>
					</figure>
					
				
				</div>
				
			</aside>
			
			<section id="content">
			
				<div class="head-box">
					<h3>New Products</h3>
				</div>
				
				<div id="new-products">
					<figure ng-repeat="album in albums | limitTo: 12 : 11">
						<img ng-src="{{album.image_path}}"  alt="{{album.album_name}}">
						<figcaption>
							{{album.album_name}}
							<br>
							{{album.album_artist}}
						</figcaption>
					</figure>		
				</div>
				
			</section>	
			
			<div class="C-B"></div>
		</main>